@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";


:root{
    --color-bg: rgb(10, 74, 78);
    --color-text: rgb(192, 190, 190);
    --color-cursor: rgba(34, 241, 197, 0.514);
    --color-drink:  linear-gradient(45deg, rgb(5, 5, 5), rgb(5, 161, 148));
}
*{
    padding: 0;
    margin: 0;
    cursor: none;
}

html, body{
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 1.3rem;
    overflow-x: hidden;
    background-image: url(/images/noise.png);
    background-position: center;
}

nav{
    position: relative;
    top: 0;
    width: 100%;
    backdrop-filter: blur(50px);
    height: 20vh;
    z-index: 9;
    .navbar{
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding: 0 50px;
        align-items: center;
        img{
            width: 30%;
            height: 100%;
        }

        button{
            padding: 10px 15px;
            border: 1px solid;
            border-radius: 30px;
        }
    }
}
#cursor{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    pointer-events: none;
    /* background: rgba(207, 37, 207, 0.5); */
    backdrop-filter: blur(19px);
    div{
        height: 30px;
        width: 30px;
        background: var(--color-cursor);
        border-radius: 50%;
    }
}

#hero{
    background: url(/images/noise.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;

    #hero-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;

        .drink-img{
            position: absolute;
            width: 80%;
            height: 100%;
        }
        .leaf{
            position: absolute;
            left: 0;
            z-index: 1;
        }
        .leaf-top{
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
        .leaf-right{
            position: absolute;
            right: 0;
            z-index: 1;
        }
        h1{
            position: absolute;
            font-size: 800%;
            font-weight: 500;
            letter-spacing: 20px;

        }
    }
}

#drinks{
    position: relative;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    display: flex;
    height: 40vh;
    margin-top:180px;
    z-index: 1;
    margin-bottom: 300px;

    .drink{
        width: 30%;
        background: var(--color-drink);
        position: relative;
        height: 80%;
        border-radius: 20px;
        box-shadow: 1px 1px 10px;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        

        img{
            height: 150%;
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
        h1{
            bottom: 20%;
            position: absolute;
            left: 5%;
            font-size: 200%;
            font-weight: 1000;
            letter-spacing: 20%;
        }
        
    }

    .drink:hover{
        transform: translateY(-20px);
    }
}

@media (max-width: 700px){
    body{
        font-size: 0.5rem;
    }
}
@media (max-width: 590px) {
    #drinks{
        flex-direction: column;
        height: 200vh;
        .drink{
            width: 80%;
            margin: 70px 30px;
        }
    }
}